* {
  font-family: 'Work Sans', sans-serif;
}

header {
  text-align: center;
}

.row {
  margin: 2em 0em;
}

#dial-container {
  height: 5vh;
}

#tree-container svg {
  width: 100%;
  height: 40vh;
  border: 1px solid #dee2e6;
}

#table-container {
  height: 30vh;
}

.table {
  white-space: nowrap;
}

th {
  font-size: 14px;
  cursor: pointer;
}

th span {
  display: inline-flex;
  flex-direction: column;
}

td {
  font-size: 14px;
  text-align: center;
}

.fa {
  color: #ccc;
  height: 1px;
  line-height: 1.3;
}

.sorted {
  color: black;
}
